/*
 * Copyright (C) 2014 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am57xx-phycore-som.dtsi"
#include "am57xx-pcm-948.dtsi"

/ {
	memory {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>; /* 2GiB */
	};

	aliases {
		display0 = &lcd0;

/*		sound0 = &hdmi; */
		sound0 = &rdk_audio;
	};
};

&dsp1 {
	status = "disabled";
};

&dsp2 {
	status = "disabled";
};

/**** SOM - pcm057 ****/

&mmc2 {
	status = "okay";
};

&cpsw_emac0 {
	status = "okay";
};

&davinci_mdio {
	status = "okay";
};

&i2c_eeprom {
	status = "okay";
};

&i2c_rtc {
	status = "okay";
};

&tps659038_rtc {
	status = "okay";
};


/**** Carrier Board - pcm948 ****/

&uart3 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&dcan1 {
	status = "okay";
};

&dcan2 {
	status = "okay";
};

&cpsw_emac1 {
	status = "okay";
};

&mmc1 {
	status = "okay";
};

&gpio_fan {
	status = "okay";
};

/* FIXME: RR - HDMI, DSS, and LCD are disabled until
 *             the omapdrm-pvr build issues are resolved
 */
&dss {
	status = "okay";
};

/* LCD-018 display: enable lcd0, backlight, and ft5406 */
&lcd0 {
	status = "okay";
};
&backlight {
	status = "okay";
};
&ft5406 {
	status = "okay";
};
&lcd_port {
	status = "okay";
};

/* HDMI: enable hdmi, hdmi0 and tpd12s521 */
&tpd12s521 {
	status = "disabled";
};
&hdmi {
	status = "disabled";
};
&hdmi0 {
	status = "disabled";
};

&pcie1 {
	status = "okay";
};
&sata {
	status = "okay";
};

/* USB3.0 host: enable usb1 */
&usb1 {
	status = "okay";
};
/* USB2.0: enable tps659038_usb, omap_dwc3_2, and usb2 */
&tps659038_usb {
	status = "okay";
};
&omap_dwc3_2 {
	status = "okay";
};
&usb2 {
	status = "okay";
	dr_mode = "otg"; /* peripheral, host, or otg */
};

/* AUDIO: enable mcasp1, tlv320aic3007, and rdk_audio */
&mcasp1 {
	status = "okay";
};
&tlv320aic3007 {
	status = "okay";
};
&rdk_audio {
	status = "okay";
};

/* Wifi: enable mmc3, wlcore, and bt_wilink */
&mmc3 {
	status = "disabled";
};

&wlcore {
	status = "disabled";
};

&bt_wilink {
	status = "disabled";
};

/* Bluetooth: enable wifi nodes and bt_kim */
&bt_kim {
	status = "disabled";
};
