/*
 * Copyright (C) 2015 Russell Robinson <rrobinson@phytec.com>
 * Copyright (C) PHYTEC America, LLC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/*
 * The board specific DTS file have to:
 *  - Specify WL_EN (wlan_fixed), WL_IRQ (wlcore), and
      BL_EN (bt_kim) signals for wifi and bluetooth operation
 *  - Mux the WL_EN, WL_IRQ, and BL_EN pins
 *  - Set the node statuses to "okay" in the dts
*/

/ {
	wlan_fixed: fixedregulator-wlan {
		compatible = "regulator-fixed";
		regulator-name = "wlan_fixed";
		/*vin-supply = <&ldo1_reg>;*/
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	bt_kim: kim {
		status = "disabled";
		compatible = "kim";
		flow_cntrl = <1>;
		baud_rate = <3686400>;
	};

	bt_wilink: btwilink {
		status = "disabled";
		compatible = "btwilink";
	};
};

&dra7_pmx_core {
	mmc3_pins_default: mmc3_pins_default {
		pinctrl-single,pins = <
			0x37c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_clk.clk */
			0x380 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_cmd.cmd */
			0x384 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat0.dat0 */
			0x388 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat1.dat1 */
			0x38c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat2.dat2 */
			0x390 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat3.dat3 */
		>;
	};

	mmc3_pins_sleep: mmc3_pins_sleep {
		pinctrl-single,pins = <
			0x37c (PIN_INPUT_PULLDOWN | MUX_MODE15)
			0x380 (PIN_INPUT_PULLDOWN | MUX_MODE15)
			0x384 (PIN_INPUT_PULLDOWN | MUX_MODE15)
			0x388 (PIN_INPUT_PULLDOWN | MUX_MODE15)
			0x38c (PIN_INPUT_PULLDOWN | MUX_MODE15)
			0x390 (PIN_INPUT_PULLDOWN | MUX_MODE15)
		>;
	};

	mmc3_pins_hs: mmc3_pins_hs {
		pinctrl-single,pins = <
			0x37c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_clk.clk */
			0x380 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_cmd.cmd */
			0x384 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat0.dat0 */
			0x388 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat1.dat1 */
			0x38c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat2.dat2 */
			0x390 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat3.dat3 */
		>;
	};

	mmc3_pins_sdr12: mmc3_pins_sdr12 {
		pinctrl-single,pins = <
			0x37c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_clk.mmc3_clk */
			0x380 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_cmd.mmc3_cmd */
			0x384 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat0.mmc3_dat0 */
			0x388 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat1.mmc3_dat1 */
			0x38c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat2.mmc3_dat2 */
			0x390 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat3.mmc3_dat3 */
		>;
	};

	mmc3_pins_sdr25: mmc3_pins_sdr25 {
		pinctrl-single,pins = <
			0x37c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_clk.mmc3_clk */
			0x380 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_cmd.mmc3_cmd */
			0x384 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat0.mmc3_dat0 */
			0x388 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat1.mmc3_dat1 */
			0x38c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat2.mmc3_dat2 */
			0x390 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat3.mmc3_dat3 */
		>;
	};

	mmc3_pins_sdr50: mmc3_pins_sdr50 {
		pinctrl-single,pins = <
			0x37c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_clk.mmc3_clk */
			0x380 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_cmd.mmc3_cmd */
			0x384 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat0.mmc3_dat0 */
			0x388 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat1.mmc3_dat1 */
			0x38c (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat2.mmc3_dat2 */
			0x390 (PIN_INPUT_PULLUP | MANUAL_MODE | MUX_MODE0) /* mmc3_dat3.mmc3_dat3 */
		>;
	};
};

&dra7_iodelay_core {
	mmc3_iodelay_manual1_conf: mmc3_iodelay_manual1_conf {
		pinctrl-single,pins = <
			0x678 (A_DELAY(406) | G_DELAY(0))       /* CFG_MMC3_CLK_IN */
			0x680 (A_DELAY(659) | G_DELAY(0))       /* CFG_MMC3_CLK_OUT */
			0x684 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_CMD_IN */
			0x688 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_CMD_OEN */
			0x68c (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_CMD_OUT */
			0x690 (A_DELAY(130) | G_DELAY(0))       /* CFG_MMC3_DAT0_IN */
			0x694 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT0_OEN */
			0x698 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT0_OUT */
			0x69c (A_DELAY(169) | G_DELAY(0))       /* CFG_MMC3_DAT1_IN */
			0x6a0 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT1_OEN */
			0x6a4 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT1_OUT */
			0x6a8 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT2_IN */
			0x6ac (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT2_OEN */
			0x6b0 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT2_OUT */
			0x6b4 (A_DELAY(457) | G_DELAY(0))       /* CFG_MMC3_DAT3_IN */
			0x6b8 (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT3_OEN */
			0x6bc (A_DELAY(0) | G_DELAY(0))         /* CFG_MMC3_DAT3_OUT */
		>;
	};
};

&mmc3 {
        status = "disabled";
	pinctrl-names = "default", "sleep", "hs", "sdr12", "sdr25", "sdr50";
        pinctrl-0 = <&mmc3_pins_default &mmc3_iodelay_manual1_conf>;
        pinctrl-1 = <&mmc3_pins_sleep &mmc3_iodelay_manual1_conf>;
        pinctrl-2 = <&mmc3_pins_hs &mmc3_iodelay_manual1_conf>;
        pinctrl-3 = <&mmc3_pins_sdr12 &mmc3_iodelay_manual1_conf>;
        pinctrl-4 = <&mmc3_pins_sdr25 &mmc3_iodelay_manual1_conf>;
        pinctrl-5 = <&mmc3_pins_sdr50 &mmc3_iodelay_manual1_conf>;
        vmmc-supply = <&wlan_fixed>;
        bus-width = <4>;
        ti,non-removable;
        cap-power-off-card;
        keep-power-in-suspend;

        #address-cells = <1>;
        #size-cells = <0>;
        wlcore: wlcore@0 {
                status = "disabled";
                compatible = "ti,wl1835";
                reg = <2>;
        };
};
