/*
 * Copyright (C) 2014 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "am57xx-phycore-som.dtsi"
#include "am57xx-pcm-948.dtsi"

/ {
	memory {
		device_type = "memory";
		reg = <0x80000000 0x40000000>; /* 1GB to start. Target 2GB */
	};
};

/* SOM - pcm057 */

&cpsw_emac0 {
	status = "okay";
};

&davinci_mdio {
	status = "okay";
};

&i2c_eeprom {
	status = "okay";
};

/* Carrier Board - pcm948 */

&uart3 {
	status = "okay";
}

&cpsw_emac1 {
	status = "okay";
};

/* [RR] Uncomment to enable STMPE811 resistive touch
 * 	for use with LCD-017
 */
/*
&stmpe811 {
	staus = "okay";
};
*/

// TODO: [RR] enable audio support
/*
&mcasp1 {
	status = "okay";
};

&tlv320aic3007 {
	status = "okay";
};
*/
