/*
 * Copyright (C) 2022 Density, Inc
 *
 */
/dts-v1/;

#include "dra74x.dtsi"

#include "am57xx-density-luna-io.dtsi"      /* Luna I/O - based on am572x-phycore-som.dtsi */
#include "am57xx-density-luna.dtsi"         /* Luna Base - based on am572x-ksp-5015.dtsi */
#include "cmem-dra72x.dtsi"                 /* cmem for dsp/eve */

/ {
	model = "Density Luna with 1GiB DDR3, Industrial Temp";
	compatible = "density,am571x-density-luna", "ti,dra742", "ti,dra74", "ti,dra7";

	memory {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x40000000>; /* 1GiB */
	};
};

&mmu0_dsp2 {
	status = "okay";
};

&mmu1_dsp2 {
	status = "okay";
};

&dsp2 {
	status = "okay";
};

&ipu2_cma_pool {
	status = "disabled";
};

&dsp1_cma_pool {
	status = "disabled";
};

&ipu1_cma_pool {
	status = "disabled";
};

&dsp2_cma_pool {
	status = "disabled";
};

&qspi {
	status = "disabled";
};

&qspi_nor {
	status = "disabled";
};

&qspi_nor_cs0 {
	status = "disabled";
};
